<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <title>covid</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
<h1>Coronavirus (COVID-19) </h1>
<img id="i1"  src="static/css/images/img1.jpg" alt="cant download"/>
<img id="i2"  src="static/css/images/img2.jpg" alt="cant download"/>
<img id="i3"  src="static/css/images/img3.jpg" alt="cant download"/><br>
<a id="li" href={{url_for(‘second’)}}>click here to know more</a>
</body>
</html>

