<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <title>covid</title>
    <link rel="stylesheet" href="static/css/style2.css">
   <body>
   <h1>Tips for prevention</h1><br>
   <h3>1. Wash your hands frequently and carefully</h3>
   <p>Use warm water and soap and rub your hands for at least 20 seconds. 
   Work the lather to your wrists, between your fingers, and under your fingernails. 
   You can also use an antibacterial and antiviral soap.Use hand sanitizer when you cannot wash your hands properly. 
   Rewash your hands several times a day, especially after touching anything, including your phone or laptop.</p><br>
   <h3>2. Avoid touching your face</h3>
   <p>Avoid touching any part of your face or head, including your mouth, nose, and eyes. Also avoid biting your fingernails. 
   This can give SARS-CoV-2 a chance to go from your hands into your body.</p><br>
   <h3>3.Wear a mask</h3>
   <p>Everyone 2 years and older should wear masks in public.
     Masks should be worn in addition to staying at least 6 feet apart, especially around people who don’t live with you.
     If someone in your household is infected, people in the household should take precautions including wearing masks to
      avoid spread to others.</p><br>
   <h3>4.Stay 6 feet away from others</h3>
   <p>Inside your home: Avoid close contact with people who are sick.
If possible, maintain 6 feet between the person who is sick and other household members.
Outside your home: Put 6 feet of distance between yourself and people who don’t live in your household.</p><br>
<h3>5.Get Vaccinated</h3>
<p>Authorized COVID-19 vaccines can help protect you from COVID-19.
You should get a COVID-19 vaccine when it is available to you.</p>
</body>
</html>